/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

// Override theme settings (see ../template/settings.scss)

// Background of the presentation
$backgroundColor: #fff8ff;

// Primary/body text
$mainFont: 'Open Sans',
sans-serif;
$mainFontSize: 22px; //40px
$mainColor: #001400;

.reveal p {
	font-weight: 300;
	text-align: left;
}

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'Open Sans',
sans-serif;
$headingColor: #000050;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: 700;
$heading1TextShadow: $headingTextShadow;

$heading1Size: 1.56em;
$heading2Size: 1.56em;
$heading3Size: 1.56em;
$heading4Size: 1.56em;

.reveal h2 {
	text-align: left;
}

// Links and actions
$linkColor: #C9C7FF;
$linkColorHover: #FF00FF;

// Text selection
$selectionBackgroundColor: darken($linkColor, 25%);
$selectionColor: #fff;


section.has-light-background {

	&,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #222;
	}
}


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
